
<div class="container-fluid hero-section">
	<div class="row hero-unit">
		<%= image_tag "marketing/heros/about-us-header.jpg", class: "hero-background img-responsive" %>
		<div class="hero-content">
			<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
				<%= image_tag "marketing/star-icon.png", class: "center-item hero-icon" %>
				<h1>About us</h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-xs-8 col-md-offset-3 col-xs-offset-2 top-border-blue block-text-column">
			<h3>Our story and team</h3>
			<p>We are a team of teachers, technologists and entrepreneurs based across London, India and Sri Lanka who have worked together since 2012 to design and deliver a great teaching service to children in schools across England.</p>
			<p>We believe that education is about people; that <span class="avenir-black">giving children the chance to question and discuss concepts is the way to build their confidence and performance for the long term.</span></p>
			<p>It is on this basis that we have built Third Space; using the opportunities that technology and globalisation provide to create an online teaching model so that every child, irrespective of wealth or location, can access the personal support needed to be inspired in their learning.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-8 col-md-offset-3 col-xs-offset-2 top-border-blue block-text-column">
			<h3>Meet the Academic team</h3>
			<p>The Academic Team is your direct contact at Third Space Learning. <span class="avenir-black">They work with you to ensure that your pupils are </span>maximising their progress from our primary Maths intervention. They do this by advising on best practice to make the most of the one-to-one sessions as well as helping you with any academic questions such as methodology taught, pupil progress and tailoring the sessions you have with respect to each child.</p>
		</div>
	</div>
</div>
<div class="section-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="quote-area">
				    <%= image_tag "marketing/people/Sophie.png", class: "quote-photo" %>
				    <div class="quote-box">
				        <p class="quote-name">SOPHIE</p>
				        <p class="quote-position">Academic Manager</p>
				        <%= image_tag "marketing/quote.png", class: "quote-upside-down" %>
				        <p class="quote">Hi, I'm Sophie and I used to be a Maths teacher in Sussex and I have held responsibility for raising the attainment of free school meals pupils as well as for gifted and talented pupils in Maths.</p>
				        <%= image_tag "marketing/quote.png" %>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="quote-area">
					<%= image_tag "marketing/people/Catherine.png", class: "quote-photo" %>
				    <div class="quote-box">
				        <p class="quote-name">CATHERINE</p>
				        <p class="quote-position">Academic Manager</p>
				        <%= image_tag "marketing/quote.png", class: "quote-upside-down" %>
				        <p class="quote">Hi, I'm Catherine and I used to be a Maths teacher in a boys' school in West London. I trained to be a teacher through the Teach First programme and am passionate about growing children's confidence in Maths.</p>
				        <%= image_tag "marketing/quote.png" %>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="quote-area">
				    <%= image_tag "marketing/people/Ellie.png", class: "quote-photo" %>
				    <div class="quote-box">
			        <p class="quote-name">ELLIE</p>
			        <p class="quote-position">Academic Manager</p>
			        <%= image_tag "marketing/quote.png", class: "quote-upside-down" %>
			        <p class="quote">Hi, I’m Ellie. I used to be a primary school teacher and worked at inner-city schools in Leicester and London. I love teaching Maths and taught at a Maths specialist school before joining Third Space.</p>
			        <%= image_tag "marketing/quote.png" %>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="green-section with-button">
	<div class="container">
		<div class="row center">
			<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
				<h4 class="avenir-black white-font inline-block">Interested in joining our team?</h4>
				<a class="btn" href="<%= careers_path %>">Join us</a>
			</div>
		</div>
	</div>
</div>
<div class="section-wrapper">
	<div class="container">
		<h1>Our partners</h1>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
				<p class="center avenir-black">Outside of the Third Space team, we work with a number of partners and investors in the education, social and technology sectors.</p>
				<p class="center">They provide additional business and academic support to help us achieve our goals.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-2 col-xs-8 col-xs-offset-2">
				<div class="info-text-area">
					<%= image_tag "marketing/logos/IoE-logo.png", class: "border-bottom" %>
				    <p class="info-text">The world leaders in teacher training and innovation. We have partnered with them to identify best teaching practice to support our tutors' professional development.</p>
				</div>
				<div class="info-text-area">
				    <%= image_tag "marketing/logos/ananda-social-fund-logo.png", class: "border-bottom" %>
				    <p class="info-text">One of the leading European investors in social enterprises, helping to drive social change across the continent, who have invested in Third Space.</p>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">
				<div class="info-text-area">
				    <%= image_tag "marketing/logos/nesta-logo.png", class: "border-bottom" %>
				    <p class="info-text">National Endowment for Science Technology and Arts – A Government funded charity that provides investment to support social innovation (and has invested in us!).</p>
				</div>
				<div class="info-text-area">
				    <%= image_tag "marketing/logos/innovate-uk-logo.png", class: "border-bottom" %>
				    <p class="info-text">The government's innovation body, who are supporting our ambitions to deliver online teaching to students across England.</p>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
				<div class="info-text-area">
				    <%= image_tag "marketing/logos/besa-logo.png", class: "border-bottom" %>
				    <p class="info-text">Third Space is a member of BESA, the trade association that represents suppliers to the UK Education sector.</p>
				</div>
			</div>
		</div>
	</div>
</div>