<div class="container-fluid hero-section">
	<div class="row hero-unit">
		<%= image_tag "marketing/heros/careers-header.jpg", class: "hero-background img-responsive" %>
		<div class="hero-content">
			<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
				<%= image_tag "marketing/careers-icon.png", class: "center-item hero-icon" %>
				<h1>Careers</h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid green-section">
	<div class="row white-font">
		<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
			<h4 class="avenir-black">We’re optimists. We believe we can help to transform an education system in which too many children still fall through the gaps.</h4>
			<h4>If you like solving problems and believe that you can make a difference, then join us.</h4>
		</div>
	</div>
</div>
<div class="section-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block center">
					<%= image_tag 'marketing/careers/wake-up-excited-promo.jpg', class: "block-image" %>
					<h3>Wake up excited about going to work</h3>
					<p class="avenir-medium">We care about what we do. Cliché? Maybe. But we genuinely do! We all understand the role we play in the bigger picture and we are incredibly committed to do whatever it takes to help our pupils.</p>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block center">
					<%= image_tag 'marketing/careers/collaboration.jpg', class: "block-image" %>
					<h3>Collaborate and get involved</h3>
					<p class="avenir-medium">We don’t like silos. You’ll have a main responsibility, but will still be involved in projects that will ensure you collaborate with people across different teams. We believe this working culture is essential to innovation and creativity.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
				<div class="ol-list-block last">
					<%= image_tag 'marketing/careers/learn-and-have-fun.jpg', class: "block-image", options: {style: "100%"} %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block center last">
					<h3>Learn and have fun</h3>
					<p class="avenir-medium">We are learning as a company and so will you. It’s ok to ask questions and make mistakes, so long as you and everyone around learns from them. And yes, we have all the start-up clichés: beers on Fridays, team lunches and fun activities!</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-wrapper light-blue-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block center last">
					<h4 class="large center">Product</h4>
					<p class="avenir-medium">We take a data driven approach to our product development which is why the development and research team work very closely and together are the product team</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block center">
					<%= image_tag 'marketing/careers/Development-team.jpg', class: "block-image" %>
					<h3>DEVELOPMENT</h3>
					<p class="avenir-medium">Our team creates the product that pupils, teachers and tutors use. We keep improving it based on our customer feedback and develop new technology to help pupils progress.</p>
					<p class="avenir-black">Current vacancy: <%= link_to "Full Stack Ruby on Rails Developer", asset_path("marketing/pdf/Full_Stack_RoR_Developer_Job_Spec.pdf", target: "_blank") %></p>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block center">
					<%= image_tag 'marketing/careers/Research-team.jpg', class: "block-image" %>
					<h3>RESEARCH</h3>
					<p class="avenir-medium">We combine teaching experience, data science and academic research to help improve the teaching and business performance of Third Space.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section-wrapper gray-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block center last">
					<h4 class="large center">Customer</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block center">
					<%= image_tag 'marketing/careers/Customer-team.jpg', class: "block-image" %>
					<p class="avenir-medium">We work to ensure that every school and pupil that uses Third Space Learning gets the best possible experience and achieves maximum academic impact.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section-wrapper light-blue-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block center last">
					<h4 class="large center">Teaching</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block center">
					<%= image_tag 'marketing/careers/Teaching-team.jpg', class: "block-image" %>
					<p class="avenir-medium">Our team works with the tutor centres. We train and mentor our tutors in order to provide quality teaching that will raise attainment and create confident learners.</p>
					<p class="avenir-black">Current vacancy: <%= link_to "Maths Lead Practitioner", asset_path("marketing/pdf/Maths_Lead_Practitioner_Full_Job_Spec_TSL.pdf", target: "_blank") %></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section-wrapper gray-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block center last">
					<h4 class="large center">Central Team</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block center">
					<%= image_tag 'marketing/careers/Central-team.jpg', class: "block-image" %>
					<p class="avenir-medium">We’re responsible for the strategy and resourcing of the business, supporting the different teams in achieving their goals.</p>
				</div>
			</div>
		</div>
	</div>
</div>