<div class="container-fluid hero-section">
  <div class="row hero-unit">
    <%= image_tag "marketing/heros/Copthorne-primary-school.jpg", class: "hero-background img-responsive" %>
      <div class="hero-content">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <%= image_tag "marketing/icon-our-schools.png", class: "center-item hero-icon" %>
            <h1>Success story</h1>
            <h4>Copthorne Primary School</h4>
        </div>
      </div>
  </div>
</div>
<div class="section-wrapper">
  <div class="curriculum-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 block-text-column">
          <article>
            <div class="top-border-blue">
              <div class="ul-arrows-list">
                <ul class="green-arrows avenir-medium">
                  <li>Copthorne Primary School was rated 'Outstanding' following Ofsted’s most recent full inspection in 2007 and this standard continued during their interim assessment in 2010. </li>
                  <li>The school is at the heart of its local community, highly regarded by pupils and parents.</li>
                  <li> This is a large school with 500+ pupils, made up almost exclusively of pupils for whom English is not a first language.</li>
                  <li> It has a high number of pupils eligible for pupil premium (27%) whilst 17% are eligible for free school meals.</li>
                  <li>Pupils are from a wide range of ethnic minorities. Around 4% of pupils are supported with School Action plus or statement of SEN.</li>
                </ul>
          </article>
          </div>
          <div class="col-md-6 col-sm-12 block-text-column">
            <div class="side-quote-area">
              <%= image_tag "marketing/people/Chris_Lloyd-Copthorne_Bradford.png", class: "side-quote-photo" %>
                <div class="side-quote-box">
                  <p class="side-quote-name">Christopher Lloyd</p>
                  <p class="side-quote-position">Assistant Headteacher and Maths Coordinator</p>
                  <%= image_tag "marketing/quote.png", class: "side-quote-upside-down" %>
                    <p class="side-quote">Confidence has gone through the roof.<br /> They have all done really well. They have all made fantastic progress.</p>
                    <%= image_tag "marketing/quote.png" %>
                </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      </section>
      <div class="section-wrapper gray-section">
        <div class="curriculum-section">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12  block-text-column">
                <article class="top-border-blue">
                  <h3>Surprising level of progress</h3>
                  <p>Third Space Learning is a very effective tool which supports the children’s learning dramatically, so the kids get more out of it. They have all done really well.They have all made fantastic progress. I was surprised to see the amount of progress they have made.<br />I have already recommended Third Space Learning as it has been a really good year.</p>
                </article>
              </div>
              <div class="col-md-6 col-sm-12 block-text-column">
                <article class="top-border-blue">
                  <h3>Tutors act as a support system</h3>
                  <p>We used it to target our pupil premium children. We directed the programme at our pupils who were expected to get a level 4 but they were unable to access the work of level 4, so your tutors have acted as a support system.</p>
                </article>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12  block-text-column">
                <article class="top-border-blue">
                  <h3>Pupil engagement</h3>
                  <p>The confidence has gone through the roof, especially with one boy who loves the way the system works speaking to somebody online. He has gone from a level 2a to a level 4b/4a so he has absolutely flown and we do put it down to how engaged he was with using the computer.<br />I'm very impressed with it because you cover every single area of the curriculum.</p>
                </article>
              </div>
              <div class="col-md-6 col-sm-12 block-text-column">
                <article class="top-border-blue">
                  <h3>One-to-one tutor helps step by step</h3>
                  <p>The children find them good fun. Sometimes they find a session challenging but the tutor is able to explain things and show different methods. They also find that having a tutor one-to-one is a massive support rather than the normal one teacher for a class of 30 children. When the tutor is right there, they are able to talk through the step by step process.</p>
                </article>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12  block-text-column">
                <article class="top-border-blue">
                  <h3>Children’s reaction to the tutors</h3>
                  <p>"Fun and kind" – those would be the children's words. The children enjoy receiving points and the pictures – they will always tell me how many points they have at the end of the session. We have created a tally chart of who has the most points as sessions go on. They enjoy competing with each other. Moreover, our pupils are 99.9% EAL from Pakistan so they loved that the tutors were from a similar background.</p>
                </article>
              </div>
            </div>
            <a class="case-study-back-link" href="<%= our_schools_path %>">Back to Our Schools</a>
          </div>
        </div>
      </div>