<div class="container-fluid hero-section">
  <div class="row hero-unit">
    <%= image_tag "marketing/heros/Green-Park-School.jpg", class: "hero-background img-responsive" %>
      <div class="hero-content">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <%= image_tag "marketing/icon-our-schools.png", class: "center-item hero-icon" %>
            <h1>Success story</h1>
            <h4>Green Park Primary School</h4>
        </div>
      </div>
  </div>
</div>
<div class="section-wrapper">
  <div class="curriculum-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 block-text-column">
          <article>
            <div class="top-border-blue">
              <div class="ul-arrows-list">
                <ul class="green-arrows avenir-medium">
                  <li>Green Park School was rated 'Good' in its most recent inspection by Ofsted. It received an 'Outstanding' rating  in its behaviour and safety of pupils as well as its leadership and management. It is a larger than average school.</li>
                  <li>The pupils eligible for Pupil Premium and those with SEN supported through School Action is below average. Those supported at School Action Plus or with a Statement of SEN is above average.  </li>
                  <li>The school has also earned the International School Award, the Speakers School Council Award and the Get Active Award.</li>
                </ul>
          </article>
          </div>

          <div class="col-md-6 col-sm-12 block-text-column">
            <div class="side-quote-area">
              <%= image_tag "marketing/people/Liz_Nightingale_Green_Park.png", class: "side-quote-photo" %>
                <div class="side-quote-box">
                  <p class="side-quote-name">Liz Nightingale</p>
                  <p class="side-quote-position">Headteacher</p>
                  <%= image_tag "marketing/quote.png", class: "side-quote-upside-down" %>
                    <p class="side-quote">Third Space has allowed us to provide a personalised agenda for each child that supports our differentiation strategies, plugging their individual learning gaps.</p>
                    <%= image_tag "marketing/quote.png" %>
                </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      </section>
      <div class="section-wrapper gray-section">
        <div class="curriculum-section">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12  block-text-column">
                <article class="top-border-blue">
                  <h3>Tackling misconceptions</h3>
                  <p>We used Third Space to address the needs of underachieving pupils in our Year 6. We knew there were lots of misconceptions in this target group and this was reflected in the performance we were tracking.</p>
                </article>
              </div>
              <div class="col-md-6 col-sm-12 block-text-column">
                <article class="top-border-blue">
                  <h3>Pupils' reactions</h3>
                  <p>The target pupils tended to be quite easily distracted, so we wanted <strong>a solution that would be really engaging</strong> to overcome this. </p>
                  <p>Third Space worked really well in this regard. The pupils would put their headsets on to talk to their tutor in the virtual classroom, blocking out some of the distractions that can come with a class environment. This <strong>really helped them to focus on the topic we had chosen for them, with great results.</strong></p>
                </article>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12  block-text-column">
                <article class="top-border-blue">
                  <h3>Classroom support</h3>
                  <p>The one-to-one interaction provides <strong>immediate feedback</strong>, which is so beneficial to the children's development.</p> 
                  <p>As teachers, we have to deal with a large number of pupils, as well as all the planning and oversight that comes with this, so we struggle to provide regular one-to-one Maths support for all our pupils. <strong>Third Space has allowed us to provide a personalised agenda for each child </strong>that supports our differentiation strategies, plugging their individual learning gaps.</p>
                </article>
              </div>
              <div class="col-md-6 col-sm-12 block-text-column">
                <article class="top-border-blue">
                  <h3>Pupil premium funding</h3>
                  <p>We had benefited from the Government's previous one-to-one scheme, and when that was withdrawn, Third Space filled the gap. We have used the pupil premium for relevant pupils, but are also using the intervention for pupils who are not eligible for this funding.</p>
                </article>
              </div>
            </div>
              <a class="case-study-back-link" href="<%= our_schools_path %>">Back to Our Schools</a>
          </div>
        </div>
      </div>