<div class="container-fluid hero-section">
	<div class="row hero-unit">
		<%= image_tag "marketing/heros/how-it-works-header.jpg", class: "hero-background img-responsive" %>
		<div class="hero-content">
			<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
				<%= image_tag "marketing/icons/icon-tools-how-it-works.png", class: "center-item hero-icon" %>
				<h1>How it works</h1>
			</div>
		</div>
	</div>
	<div class="row cta-unit">
		<div class="container">
			<h2><span class="yellow-highlight">SEE HOW THIRD SPACE'S ONE-TO-ONE ONLINE INTERVENTIONS WORK,</span> INCREASING PUPILS' PROGRESS AND ATTAINMENT, BUILDING CONFIDENCE AND A LOVE OF MATHS, AND SUPPORTING YOUR SCHOOL'S TEACHING STRATEGIES</h2>
		</div>
	</div>
</div>
<div class="section-wrapper gray-section">
	<div class="container center">
		<div class="video-player-area">
	    <video class="video-player" controls="true" width="80%" poster="<%= asset_path 'how-it-works/Classroom-Thumbnail.jpg' %>" >
	      <source src="//static.thirdspacelearning.com/assets/videos/HowItWorks.mp4" type='video/mp4'/>
	    </video>
	  </div>
	</div>
</div>
<div class="section-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block">
					<%= image_tag 'marketing/how_it_works/1-how-it-works.jpg', class: "block-image" %>
					<h3><span class="block-number">1.</span> You identify the pupils who require a one-to-one Maths intervention.</h3>
					<p class="avenir-medium">Primary schools use us for different reasons. You may want to narrow the attainment gap with your pupil premium budget, plug specific learning gaps, give pupils a SATs revision booster for the KS2 National Tests, or even stretch and challenge some pupils.</p>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block">
					<%= image_tag 'marketing/how_it_works/2-how-it-works.jpg', class: "block-image" %>
					<h3><span class="block-number">2.</span> You are in control of the children's learning.</h3>
					<p class="avenir-medium">You decide the lesson to be taught, and what level is appropriate for each child. As it’s one-to-one personalised tuition, each pupil in a session can study a different National Curriculum topic at their own pace. There is no limit to the number of pupils per school who can be enrolled on Third Space.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block">
					<%= image_tag 'marketing/how_it_works/3-how-it-works.jpg', class: "block-image" %>
					<h3><span class="block-number">3.</span> Each pupil receives a dedicated one-to-one Maths tutor.</h3>
					<p class="avenir-medium">Every week (or more frequently if required) the pupil and their tutor have their one-to-one lesson in our secure online classroom. Tutor and pupil cannot see each other but they speak using a headset and microphone and share a screen. Up to 10 pupils can be taught like this at any one time in the same room.</p>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block">
					<%= image_tag 'marketing/how_it_works/4-how-it-works.jpg', class: "block-image" %>
					<h3><span class="block-number">4.</span> You're kept closely involved in every pupil’s progress.</h3>
					<p class="avenir-medium">After every session you receive individual feedback for each pupil showing their achievement in the online lesson, how many steps have been mastered and any remaining gaps. Suggested next lessons assist you in your planning and the overall impact and provide evidence to Ofsted.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
				<div class="ol-list-block last">
					<%= image_tag 'marketing/how_it_works/confident-kids-photo.jpg', class: "block-image", options: {style: "100%"} %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ol-list-block last">
					<h3><span class="block-number">5.</span> The children return to class as confident and able mathematicians.</h3>
					<p class="avenir-medium">The online tuition from a one-to-one Maths specialist provides the boost that children need to clear up misconceptions, achieve their full potential and develop fluency in Maths. Their proven achievement with Third Space Learning gives them the confidence to make active contributions in lessons across the curriculum and benefits all aspects of their learning.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section-wrapper gray-section">
	<div class="container center">
		<div class="video-player-area">
			<h3 class="video-title">See how easy it is to use Third Space Learning</h3>
	    <video class="video-player" controls="true" width="80%" height="auto" poster="<%= asset_path 'how-it-works/Pick-lesson-video-postergraphic.jpg' %>" >
	      <source src="//static.thirdspacelearning.com/assets/videos/See_how_easy_it_is_to_pick_a_lesson_TSL_Video.mp4" type='video/mp4'/>
	    </video>
	  </div>
	</div>
</div>
<div class="section-wrapper">
	<div class="container center">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="ul-arrows-list">
					<h2 class="info-header wide">HOW OUR ONLINE MATHS INTERVENTION MATCHES UP</h2>
					<ul class="green-arrows">
						<li>You will receive a full orientation session with all staff members showing them how to use our schools platform.</li>
						<li>Pupils and session administrators (the adult in the classroom during the tuition) are given an introduction session to practise using the tools in the online classroom and to understand exactly what to expect.</li>
						<li>You will have the support of our technical team to help with set up and an Academic Manager for your school who can help you get the most out of the one-to-one Maths tuition.</li>
						<li>Up to 10 pupils in your school can be receiving one-to-one tuition in any one session. There is no limit to the number of sessions a school can arrange over the week.</li>
						<li>All the school has to do is provide a dedicated classroom with laptops or PCs, and an adult to supervise.</li>
						<li>Day to day running of Third Space is super simple. On average it only takes 15 minutes a week for a class teacher to pick the lessons for 10 pupils.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section-wrapper green-section">
	<div class="container">
		<div class="row center">
			<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
				<a class="btn" href="<%= our_schools_path %>">View our success stories</a>
			</div>
		</div>
	</div>	
</div>