<div class="container-fluid hero-section">
	<div class="row hero-unit">
		<%= image_tag "marketing/heros/Tutors-header.jpg", class: "hero-background img-responsive" %>
		<div class="hero-content">
			<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
				<%= image_tag "marketing/icons/glasses-icon-meet-the-tutors.png", class: "center-item hero-icon" %>
				<h1>Meet our tutors</h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid green-section">
	<div class="row white-font">
		<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
			<h4>We employ a team of over <span class="avenir-black">150 tutors</span> who are top graduates and undergraduates and have been trained as specialist one-to-one Maths tutors to teach the <span class="avenir-black">Key Stage 1</span> and <span class="avenir-black">Key Stage 2 Maths national curriculum.</span></h4>
			<h4>Based in Asia they are supported by a dedicated on-site tutor training team of former UK Maths teachers and school leaders.</h4>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row cta-unit">
		<div class="container">
			<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<h2>EACH PUPIL RECEIVES THEIR <span class="yellow-highlight">OWN DEDICATED TUTOR</span> WHO THEY'LL WORK WITH THROUGHOUT THE TERM</h2>
			</div>
		</div>
	</div>
</div>
<% if false %>
  <!-- video not ready yet-->
  <div class="section-wrapper gray-section">
  	<div class="container center">
  		<div class="video-player-area">
  	    <video class="video-player" controls="true" width="80%" poster="/assets/how-it-works/Classroom-Thumbnail-27f99ab9973c62f7c2ca1b62946d38ac5557133c82fe7113a8899cbb73023acc.jpg" >
  	      <source src="//static.thirdspacelearning.com/assets/videos/HowItWorks.mp4" type='video/mp4'/>
  	    </video>
  	  </div>
  	</div>
  </div>
<% end %>
<div class="section-wrapper">
	<div class="container">
		<h4 class="large">Top class selection and training</h4>
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<div class="info-text-area large">
					<%= image_tag "marketing/icons/icon-rigorous-selection-process.png" %>
				    <h2 class="info-header">RIGOROUS SELECTION PROCESS</h2>
				    <p class="info-text"><span class="yellow-highlight">All our tutors have passed a rigorous assessment</span> which test their Maths knowledge and pedagogy as well as an independently assessed ESOL test (English language test) based on the CEF (Common English Framework).</p>
				</div>
				<div class="info-text-area large">
				    <%= image_tag "marketing/icons/icon-continuous-development.png" %>
				    <h2 class="info-header">CONTINUOUS DEVELOPMENT</h2>
				    <p class="info-text">Continuous training involves weekly observation and one-to-one by our Academic Counsellors using an adapted <span class="yellow-highlight">OFSTED framework</span> and full day of CPD every fortnight.</p>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-0">
				<div class="info-text-area large extra-large">
				    <%= image_tag "marketing/icons/icon-personality-and-rapport.png" %>
				    <h2 class="info-header">PERSONALITY AND RAPPORT</h2>
				    <p class="info-text">The rapport between tutor and pupil is crucial to the progress the pupil makes during their one-to-one Maths tuition. The tutors we recruit are friendly and outgoing, and skilled at putting children at ease from the very start, regardless of the child's previous confidence level or achievment in Maths.</p>
				</div>
				<div class="info-text-area large">
				    <%= image_tag "marketing/icons/icon-intensive-training-programme.png" %>
				    <h2 class="info-header">INTENSIVE TRAINING PROGRAMME</h2>
				    <p class="info-text">Once selected, tutors follow an intensive training programme that builds on specific research into one-to-one Maths tutoring by UCL’s Institute of Education.</span></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section-wrapper light-blue-section">
	<div class="container">
		<h4 class="large">Safety is our top priority</h4>
		<p class="center avenir-black">We take every measure to ensure we provide a safe environment for both tutor and pupil.</p>
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<div class="info-text-area">
					<%= image_tag "marketing/icons/icon-no-criminal-record.png" %>
			    <h2 class="info-header">NO CRIMINAL RECORD</h2>
			    <p class="info-text">All tutors have a Police Certificate (equivalent of DBS) and receive clear safeguarding training.</p>
				</div>
				<div class="info-text-area large">
			    <%= image_tag "marketing/icons/icon-supervised-at-all-time.png" %>
			    <h2 class="info-header">SUPERVISED AT ALL TIMES</h2>
			    <p class="info-text">Our tutors operate under the management of Academic and Operational staff from our secure Academic Centres and, at all times, there are two Safeguarding Officers present during the sessions.</p>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-0">
				<div class="info-text-area">
			    <%= image_tag "marketing/icons/icon-all-sessions-recorded.png" %>
			    <h2 class="info-header">ALL SESSIONS ARE RECORDED</h2>
			    <p class="info-text">All sessions are recorded, stored and made available to schools on request.</p>
				</div>
				<div class="info-text-area large">
			    <%= image_tag "marketing/icons/icon-restricted-access.png" %>
			    <h2 class="info-header">RESTRICTED ACCESS TO PUPIL INFO</h2>
			    <p class="info-text">Tutors have no access to pupil data (other than specific academic requirements for a pupil from their teacher); they know their pupils only by their first name and initial of surname, for example Jen R. There is no webcam feed so tutors and pupils cannot see each other.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section-wrapper gray-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="quote-area">
				    <%= image_tag "marketing/people/Gloria_Gunawardana-site.png", class: "quote-photo" %>
				    <div class="quote-box">
				        <p class="quote-name">Gloria</p>
				        <p class="quote-position">Tutor</p>
				        <%= image_tag "marketing/quote.png", class: "quote-upside-down" %>
				        <p class="quote">What is special about one-to-one teaching is that as a tutor I can provide the personalised attention that can be difficult in a traditional classroom setting.</p>
				        <%= image_tag "marketing/quote.png" %>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="quote-area">
					<%= image_tag "marketing/people/Anderson_Kirubaharan-site.png", class: "quote-photo" %>
				    <div class="quote-box">
				        <p class="quote-name">Anderson</p>
				        <p class="quote-position">Tutor</p>
				        <%= image_tag "marketing/quote.png", class: "quote-upside-down" %>
				        <p class="quote">I love tutoring children because it makes me happy to see them grow more confident and become mathematicians and problem solvers. It is a great feeling to know that I am playing a part in helping them achieve their academic potential!</p>
				        <%= image_tag "marketing/quote.png" %>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="quote-area">
				    <%= image_tag "marketing/people/Apsara_Wickramathunge-site.png", class: "quote-photo" %>
				    <div class="quote-box">
				        <p class="quote-name">Apsara</p>
				        <p class="quote-position">Tutor</p>
				        <%= image_tag "marketing/quote.png", class: "quote-upside-down" %>
				        <p class="quote">I think one-to-one tutoring is really great because it allows for the lesson to be personalised to the needs of the pupils. Some pupils require more repetition, some benefit from more examples, others like to ask lots of questions.</p>
				        <%= image_tag "marketing/quote.png" %>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section-wrapper green-section">
	<div class="container">
		<div class="row center">
				<a class="btn" href="/pricing">See our pricing</a>
		</div>
	</div>
</div>