<div class="container-fluid hero-section">
	<div class="row hero-unit">
		<%= image_tag "marketing/heros/our-schools-header.jpg", class: "hero-background img-responsive" %>
		<div class="hero-content">
			<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
				<%= image_tag "marketing/icon-our-schools.png", class: "center-item hero-icon" %>
				<h1>Our schools</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<h1>Why schools use us</h1>
	<div class="row">
		<div class="col-md-6">
			<div class="map-info">
				We are very proud to be working each term with over 300 primary schools across England
			</div>
			<%= image_tag("marketing/Map-of-our-schools.jpg", class: "map-of-schools") %>
		</div>
		<div class="col-md-5 col-md-offset-1">
			<div class="text-section">
				<h3>IT'S ACCOUNTABLE</h3>
				<p>The robust school platform, feedback reports, and recording system we use provide clear accountability and <strong>evidence for OFSTED.</strong> This is particularly useful for primary schools who need to show the <strong>targeted impact of pupil premium funding.</strong></p>
			</div>
			<div class="text-section">
				<h3>IT'S TAILORED TO SCHOOLS' NEEDS</h3>
				<p>We understand primary schools and have many former teachers on the team. Our online one-to-one Maths tuition is a very easy intervention to implement and manage, it doesn't place extra demands on teaching staff and it fits around your school timetable.</p>
			</div>
			<div class="text-section">
				<h3>IT'S FLEXIBLE AND COST-EFFECTIVE</h3>
				<p>Our curriculum covers Years 1 to 6. While some of our schools use us for a short SATs boost in preparation for the National Tests in Year 6, other schools take a more longterm approach using it for different year groups throughout the school. We can teach as many pupils as you like, swapping or supplementing pupils from one term to another. </p>
			</div>
		</div>
	</div>
</div>

<div class="section-wrapper gray-section">
	<div class="container">
		<h1>View our success stories</h1>
		<div class="row">
			<div class="col-md-8">
				<div class="school-preview-container">
					<div class="school-preview-box row">
						<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 school-image">
							<%= image_tag("marketing/people/Rush-green-primary-school.jpg") %>
						</div>
						<div class="col-md-8 school-content">
							<h4>Rush Green Primary School</h4>
							<h5><%= image_tag("marketing/pin.png") %>Rush Green, London</h5>
							<%= image_tag("marketing/quote.png", class: "quote-upside-down") %>
							<p class="quote">Last year we did it with 12 children who made superb progress, so this year we’ve put 20 children onto Third Space and it’s been ideal. They can talk one-to-one with their tutor and if they get something wrong nobody else can hear it, so they can sort out their mistakes really simply and easily.</p>
							<%= image_tag("marketing/quote.png") %>
						</div>
						<div class="col-md-12 box-cta center">
							<a class="btn" href="<%= our_schools_rush_green_primary_school_path  %>">View more</a>
						</div>
					</div>
					<div class="school-preview-box row">
						<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 school-image">
							<%= image_tag("marketing/people/springfield-school.jpg") %>
						</div>
						<div class="col-md-8 school-content">
							<h4>Springfield Community Primary School</h4>
							<h5><%= image_tag("marketing/pin.png") %> Hackney, London</h5>
							<%= image_tag("marketing/quote.png", class: "quote-upside-down") %>
							<p class="quote">In Maths lessons now, the children are telling me more confidently and easily how they know something. That improvement in mathematical reasoning has been invaluable for me</p>
							<%= image_tag("marketing/quote.png") %>
						</div>
						<div class="col-md-12 box-cta center">
							<a class="btn" href="<%= our_schools_springfield_primary_school_path  %>">View more</a>
						</div>
					</div>
					<div class="school-preview-box row">
						<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 school-image">
							<%= image_tag("marketing/people/somers-heath-school.jpg") %>
						</div>
						<div class="col-md-8 school-content">
							<h4>Somers Heath Primary School </h4>
							<h5><%= image_tag("marketing/pin.png") %>South Ockendon, Essex</h5>
							<%= image_tag("marketing/quote.png", class: "quote-upside-down") %>
							<p class="quote">With Third Space, our pupils improved by 2-3 sub-levels in only one term. One of the major benefits of one-to-one tuition is the individual interaction and feedback each pupil receives from their tutor. This really boosted their confidence and has been reflected in their class work.</p>
							<%= image_tag("marketing/quote.png") %>
						</div>
						<div class="col-md-12 box-cta center">
							<a class="btn" href="<%= our_schools_somers_heath_primary_school_path  %>">View more</a>
						</div>
					</div>
					<div class="school-preview-box row">
						<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 school-image">
							<%= image_tag("marketing/people/green-park-primary-preview.jpg") %>
						</div>
						<div class="col-md-8 school-content">
							<h4>Green Park Primary School</h4>
							<h5><%= image_tag("marketing/pin.png") %>Newport Pagnell, Buckinghamshire</h5>
							<%= image_tag("marketing/quote.png", class: "quote-upside-down") %>
							<p class="quote">Third Space has allowed us to provide a personalised agenda for each child that supports our differentiation strategies, plugging their individual learning gaps.</p>
							<%= image_tag("marketing/quote.png") %>
						</div>
						<div class="col-md-12 box-cta center">
							<a class="btn" href="<%= our_schools_green_park_primary_school_path  %>">View more</a>
						</div>
					</div>
					<div class="school-preview-box row">
						<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 school-image">
							<%= image_tag("marketing/people/Copthorne-school-image.jpg") %>
						</div>
						<div class="col-md-8 school-content">
							<h4>Copthorne Primary School</h4>
							<h5><%= image_tag("marketing/pin.png") %>Bradford, North Yorkshire</h5>
							<%= image_tag("marketing/quote.png", class: "quote-upside-down") %>
							<p class="quote">Confidence has gone through the roof.<br /> They have all done really well. They have all made fantastic progress.</p>
							<%= image_tag("marketing/quote.png") %>
						</div>
						<div class="col-md-12 box-cta center">
							<a class="btn" href="<%= our_schools_copthorne_primary_school_path  %>">View more</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="school-help-panel sticky-panel affix">
					<h5>Speak to a school near you</h5>
					<p class="spacer"><strong>We can put you in touch with a school near you to learn more about how Third Space has helped them</strong></p>
					<p>To arrange this, please call us on 0203 771 0093 or email us at <%= mail_to "hello@thirdspacelearning.com" %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-wrapper">
    <div class="container center">
    <video class="video-player" controls="true" width="80%" poster=<%= asset_path "Thumbnail_for_90_second_video_V2.png" %> >
      <source src="http://static.thirdspacelearning.com/assets/videos/How_It_Works_V2.5.mp4" type='video/mp4'/>
    </video>
    </div>
</div>

<div class="green-section section-wrapper">
	<div class="container">
		<div class="row center">
			<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
				<a class="btn" href="<%= meet_the_tutors_path %>">Meet our tutors</a>
			</div>
		</div>
	</div>
</div>