<div class="container-fluid hero-section">
	<div class="row hero-unit">
		<%= image_tag "marketing/heros/Pricing-header.jpg", class: "hero-background img-responsive" %>
		<div class="hero-content">
			<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
				<%= image_tag "marketing/icon-pricing.png", class: "center-item hero-icon" %>
				<h1>Pricing</h1>
			</div>
		</div>
	</div>
</div>
<div class="section-wrapper gray-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 col-md-offset-1 center">
				<div class="pricing-block-outer yellow-border">
					<div class="pricing-block-title-area white-font">
						<h3>Year 6 National Tests (SATs)</h3>
						<h4>Maths Booster</h4>
					</div>
					<div class="inner-top-area">
						<p class="avenir-black">Helping to accelerate pupils through the new National Tests</p>
						<p class="avenir-medium">14 week one-to-one revision programme</p>
						<button class="green-date">January - May</button>
						<div class="ul-arrows-list">
							<ul class="green-arrows">
								<li>Plug learning gaps</li>
								<li>Reinforce with sample questions</li>
								<li>Focus on arithmetic and reasoning</li>
							</ul>
						</div>
					</div>
					<div class="row inner-bottom-area">
						<div class="col-md-6 bottom-left">
							<p class="tondo price-title">STANDARD</p>
							<p class="price">£249</p>
							<p class="per-pupil">per pupil</p>
							<p class="brackets first">(£17.79 per 45min lesson)</p>
						</div>
						<div class="col-md-6 bottom-right">
							<p class="tondo price-title">EARLY BIRD</p>
							<p class="price">£199</p>
							<p class="per-pupil">per pupil</p>
							<p class="brackets">(£14.21 per 45min lesson)</p>
							<p class="price-highlight yellow-highlight">Offer ends 30th Nov</p>
						</div>
					</div>
				</div>
				<a class="btn demo-under-price" href="<%= book_a_demo_path %>">Book a demo</a>
			</div>
			<div class="col-md-5 col-md-offset-0 center">
				<div class="pricing-block-outer transparent-border margin-top-mobile">
					<div class="pricing-block-title-area white-font">
						<h3>Pupil Progress Plan</h3>
						<h4>Mastery in Maths</h4>
					</div>
					<div class="inner-top-area">
						<p class="avenir-black">Building secure foundations and long term success in Maths</p>
						<p class="avenir-medium">12 weeks of one-to-one lessons per term</p>
						<button class="green-date">Minimum 3 term commitment</button>
						<div class="ul-arrows-list">
							<ul class="green-arrows">
								<li>Target learning gaps in Years 3, 4, 5, 6</li>
								<li>Flexible - rotate pupils based on need</li>
								<li>Develop confidence and fluency</li>
							</ul>
						</div>
					</div>
					<div class="row inner-bottom-area">
						<div class="col-md-6 bottom-left">
							<p class="tondo price-title">AFTERNOON</p>
							<p class="price">£199</p>
							<p class="per-pupil">per 12 weeks</p>
							<p class="brackets first">(£16.58 per 45min lesson)</p>
						</div>
						<div class="col-md-6 bottom-right">
							<p class="tondo price-title">MORNING</p>
							<p class="price">£169</p>
							<p class="per-pupil">per 12 weeks</p>
							<p class="brackets">(£14.08 per 45min lesson)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section-wrapper top-border-blue">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
				<h4 class="large">What's included?</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-1 col-xs-10 col-xs-offset-1">
				<div class="ul-arrows-list top-border-blue">
					<ul class="green-arrows">
						<li>Personal one-to-one specialist Maths tutor for each pupil</li>
						<li>Full National Curriculum coverage from Year 1 to Year 6</li>
						<li>270 step-by-step Maths lessons to choose from</li>
						<li>Dedicated Academic Manager for your school to help maximise impact</li>
						<li>Daily and weekly reports to track pupil progress</li>
						<li>Free headset with microphone for every pupil</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-0">
				<div class="quote-area">
					<%= image_tag "marketing/people/Mora-Primary-School-quote.png", class: "quote-photo" %>
					<div class="quote-box">
						<p class="quote-name">SHAY JOSHI</p>
						<p class="quote-position">Class Teacher, Mora Primary School</p>
		        <%= image_tag "marketing/quote.png", class: "quote-upside-down" %>
						<p class="quote">The boy I'm most proud of was a level 2A before Third Space. He was the weakest but he ended up performing extremely well in his SATs.</p>
				        <%= image_tag "marketing/quote.png" %>
					</div>
				</div><!-- /.quote-area -->
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</div>
<div class="container-fluid">
	<div class="row cta-unit-double-line">
		<div class="center">
			<h2><span class="yellow-highlight">MONEY-BACK GUARANTEE</span></h2>
			<p>If you and your pupils are not completely satisfied after 6 weeks of our one-to-one Maths tuition you will receive a full refund.</p>
		</div>
	</div>
</div>