<div class="container-fluid hero-section">
  <div class="row hero-unit">
    <%= image_tag "marketing/heros/somers-heath-primary-school.jpg", class: "hero-background img-responsive" %>
      <div class="hero-content">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <%= image_tag "marketing/icon-our-schools.png", class: "center-item hero-icon" %>
            <h1>Success story</h1>
            <h4>Somers Heath Primary School</h4>
        </div>
      </div>
  </div>
</div>
<div class="section-wrapper">
  <div class="curriculum-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 block-text-column">
          <article>
            <div class="top-border-blue">
              <div class="ul-arrows-list">
                <ul class="green-arrows avenir-medium">
                  <li>Somers Heath Primary School is an average sized school with one class in each year group.</li>
                  <li>The number of pupils eligible for Pupil Premium is higher than average, whilst the proportion of disabled pupils and those that have SEN supported at School Action is also higher than average.</li>
                  <li> Most pupils are from a White English background, with a lower than average number of pupils from ethnic minority groups. The percentage of pupils eligible for free school meals is around 20%.</li>
                </ul>
          </article>
          </div>
          <div class="col-md-6 col-sm-12 block-text-column">
            <div class="side-quote-area">
              <%= image_tag "marketing/people/Somers_Heath_Kevin_Imbush.png", class: "side-quote-photo" %>
                <div class="side-quote-box">
                  <p class="side-quote-name">Kevin Imbush</p>
                  <p class="side-quote-position">Headteacher</p>
                  <%= image_tag "marketing/quote.png", class: "side-quote-upside-down" %>
                    <p class="side-quote">With Third Space, our pupils improved by 2-3 sub-levels in only one term. One of the major benefits of one-to-one tuition is the individual interaction and feedback each pupil receives from their tutor. This really boosted their confidence and has been reflected in their class work.</p>
                    <%= image_tag "marketing/quote.png" %>
                </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      </section>
      <div class="section-wrapper gray-section">
        <div class="curriculum-section">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12  block-text-column">
                <article class="top-border-blue">
                  <h3>Need for high impact intervention</h3>
                  <p>We identified pupils at risk of failure in Year 6 whose development was too slow, leaving us concerned that they might fail to achieve a Level 4 in their upcoming SATs. We wanted something that was high impact to complement the leadership and strategies of our teachers. In the end <strong>our pupils improved by 2-3 sub-levels</strong> in only one term.</p>
                </article>
              </div>
              <div class="col-md-6 col-sm-12 block-text-column">
                <article class="top-border-blue">
                  <h3>Individual feedback for each pupil</h3>
                  <p>Improved results were the priority for us, however one of the major benefits of one-to-one tuition is the individual interaction and feedback each pupil receives from their tutor.<strong>This really boosted their confidence</strong> and has been reflected in their class work.</p>
                </article>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12  block-text-column">
                <article class="top-border-blue">
                  <h3>Provides extra one-to-one capacity</h3>
                  <p>All my teachers work very hard and are incredibly busy; they don’t have the time to deliver regular one-to-one support for all their pupils</p>
                  <p><strong>Third Space provided additional teaching capacity in a one-to-one format</strong>, allowing my teachers to choose the precise learning outcome for each child, ensuring that each session addressed the individual needs of the child, whilst reinforcing the leadership in my teachers’ classrooms.</p>
                </article>
              </div>
              <div class="col-md-6 col-sm-12 block-text-column">
                <article class="top-border-blue">
                  <h3>Easy to setup and manage</h3>
                  <p>We run sessions in the afternoon in addition to Maths classes which take place in the morning. The pupils work with their online tutor in our ICT suite, using headsets to talk through the one-to-one lesson plans selected by their teacher. It’s easy to set up and you’re able to repeat book your sessions for the whole term, selecting the relevant outcome each week.</p>
                </article>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12  block-text-column">
                <article class="top-border-blue">
                  <h3>Pupil premium funding</h3>
                  <p><strong>Price is a secondary consideration, with our use motivated by results</strong>. However, budgets are clearly a consideration and the Third Space Learning price point has allowed us to use the intervention more widely. We’ve used pupil premium as a source of funding for relevant pupils.</p>
                </article>
              </div>
            </div>
            <a class="case-study-back-link" href="<%= our_schools_path %>">Back to Our Schools</a>
          </div>
        </div>
      </div>