<div class="container-fluid hero-section">
  <div class="row hero-unit">
    <%= image_tag "marketing/heros/Springfield-Community-School.jpg", class: "hero-background img-responsive" %>
      <div class="hero-content">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <%= image_tag "marketing/icon-our-schools.png", class: "center-item hero-icon" %>
            <h1>Success story</h1>
            <h4>Springfield Community Primary School</h4>
        </div>
      </div>
  </div>
</div>
<div class="section-wrapper">
  <div class="curriculum-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 block-text-column">
          <article>
            <div class="top-border-blue">
              <div class="ul-arrows-list">
                <ul class="green-arrows avenir-medium">
                  <li>Springfield Community Primary is an average sized school.</li>
                  <li>It is part of a federation of six schools working under the direction of an Executive Principal.</li>
                  <li> It is also a Teaching school, playing a key role as part of the Primary Advantage National Teaching Schools Alliance. </li>
                  <li> It was rated ‘Outstanding’ by Ofsted in its most recent inspection in 2011.</li>
                  <li>Almost all pupils are from minority ethnic backgrounds, primarily of Brazilian or Polish heritage.</li>
                  <li>Around three quarters of the pupils speak English as an additional language.</li>
                  <li>The number of pupils with SEN or disabilities is above average, mostly relating to language, speech and communication difficulties.</li>
                  <li>Around half of pupils are joining or leaving the school outside of the usual times.  The school has ‘National Healthy Schools’ status.</li>
                </ul>
          </article>
          </div>

          <div class="col-md-6 col-sm-12 block-text-column">
            <div class="side-quote-area">
              <%= image_tag "marketing/people/Nina_Steeples_-_Springfield.png", class: "side-quote-photo" %>
                <div class="side-quote-box">
                  <p class="side-quote-name">Nina Steeples</p>
                  <p class="side-quote-position">Assistant Headteacher</p>
                  <%= image_tag "marketing/quote.png", class: "side-quote-upside-down" %>
                    <p class="side-quote">In Maths lessons now,<strong> the children are telling me more confidently and easily how they know something</strong>. That improvement in mathematical reasoning has been invaluable for me.</p>
                    <%= image_tag "marketing/quote.png" %>
                </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      </section>
      <div class="section-wrapper gray-section">
        <div class="curriculum-section">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12  block-text-column">
                <article class="top-border-blue">
                  <h3>Pupils’ response</h3>
                  <p>Their initial response was obviously one of awe and wonder, which was quite nice to be a part of. Seeing them put their headphones on and speak to somebody that was in another country obviously blew their minds and as a teacher, experiencing that and watching that myself was a pleasure to see.</p>
                </article>
              </div>
              <div class="col-md-6 col-sm-12 block-text-column">
                <article class="top-border-blue">
                  <h3>Language around Maths</h3>
                  <p>The thing that I’ve noticed as a teacher is that they have to use their language around Maths. We work at a largely EAL school with over 70% of our children using English as a second language. Getting them to use their Maths language is always a bit of a battle.<strong> They have to explain their thinking</strong> and what they know about the images they see on the screen.<strong> That, for me, has just been amazing.</strong></p>
                </article>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12  block-text-column">
                <article class="top-border-blue">
                  <h3>Maths understanding</h3>
                  <p>It’s improved their foundation of Maths. A lot of time with Maths, we as a school feel there’s a lot of misunderstanding. They understand maybe tricks and shortcuts, but understanding the why things are happening is always a bit of a tricky area for us. <strong>The sessions have secured their understanding</strong> of the relationship between numbers. It’s those skills that they need to have for developing further areas of Maths learning.</p>
                </article>
              </div>
              <div class="col-md-6 col-sm-12 block-text-column">
                <article class="top-border-blue">
                  <h3>Children’s progress had stalled</h3>
                  <p>We chose the children to do the course based on ability. We had a group of children that we were worried about. Their progress and attainment had become static in Year 5 and we knew that with SATs coming up, we needed to have some way of ensuring that they were able to access Maths and we wanted a new way for them to engage with the subject.</p>
                </article>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12  block-text-column">
                <article class="top-border-blue">
                  <h3>Impact on classroom Maths</h3>
                  <p>In our Maths lessons now, the children are telling me more confidently and easily how they know something. There is always a right and a wrong answer in Maths, but what’s important is how they got there. So the improvement in mathematical reasoning and explaining their Maths has been invaluable for our children.</p>
                </article>
              </div>
              <div class="col-md-6 col-sm-12 block-text-column">
                <article>
                  
                </article>
              </div>
            </div>
              <a class="case-study-back-link" href="<%= our_schools_path %>">Back to Our Schools</a>
          </div>
        </div>
      </div>